@import "./helpers/globals";
@import "./helpers/breakpoints";
// components
@import "./components/button";
@import "./components/disclaimer";
@import "./components/form";
@import "./components/header";
@import "./components/sidebar";
@import "./components/table";
@import "./components/text";
// pages
@import "./pages/device";
@import "./pages/login";
@import "./pages/wallet";
@import "./pages/overview";
html {
    // background: none !important;
    // font-size: unset !important;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div,
span,
p,
label,
input,
select,
section,
footer,
header,
nav,
ul,
li,
button,
tr,
td,
th {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    .custom-button {
        font-weight: 500;
        margin-bottom: 15px;
    }
    .main-wallet-text {
        color: white;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 40px;
    }
    .wallet-balance {
        color: white;
        font-weight: 500;
        font-size: 35px;
    }
    .wallet-balance-device {
        color: #242529;
        font-size: 30px;
    }
    .wallet-balance2 {
        color: white;
        font-size: 20px;
        vertical-align: text-bottom;
    }
    .wallet-balance3 {
        font-size: 20px;
    }
    .wallet-balance3-device {
        font-size: 18px;
    }
}

body {}

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

#root {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #108db8;
}

code {
    user-select: text;
    background: rgba(0, 0, 0, 0.05);
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 0.8em;
    line-height: 1.5;
}

td {
    border-style: none;
    background-color: white;
    margin: 20px 0px 20px 0;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

th {
    background-color: orange;
    margin: 20px 0px 20px 0;
}

table {
    background-color: #f4f8f9;
    border-collapse: separate;
    border-spacing: 0 15px;
}

label {
    font-weight: 500;
}

.divider {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.icon-running {
    color: #59ad9e;
    font-size: 20px;
    padding-right: 5px;
}

.text-running {
    color: #59ad9e;
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

.icon-paused {
    color: #dc817c;
    font-size: 20px;
    padding-right: 5px;
}

.text-paused {
    color: #dc817c;
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

.hidden {
    display: none !important;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

button {
    outline: none !important;
}

.page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#root {
    overflow-x: hidden;
}

.page-wrapper {
    background: #242529;
}

.main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    height: 100vh;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    .content {
        background: #f4f8f9;
        min-width: 535px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include breakPoint(small) {
            min-width: unset;
        }
    }
}