service cloud.firestore {
  match /databases/{database}/documents {
    match /mamChannelState {
   		allow read, write: if false;
  	}
  	match /logs {
   		allow read, write: if false;
  	}
    match /settings {
      allow read, write: if false;
    }
  }
}
