button {
    color: #242529;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 10px 10px;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 32px;
    height: 52px;
    width: 120px;
    background-color: #f4f8f9;
    cursor: pointer;
    &:hover {
        background-color: #141414;
        border: none;
        color: white;
        transition: all 0.3s;
    }
    // &:disabled {
    //     background-color: #242529;
    //     &:hover {
    //         background-color: #242529;
    //     }
    // }
}

.cta {
    background: #242529;
    border: 1px solid #f4f8f9;
    z-index: 10;
    border-radius: 29px;
    height: 52px;
    width: 120px;
    padding: 10px 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    >span {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
}

.cta2 {
    background: #242529;
    border: 1px solid #f4f8f9;
    z-index: 10;
    border-radius: 29px;
    height: 48px;
    padding: 5px 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
        border: none;
        color: white;
        transition: all 0.3s;
    }
}

.cta3 {
    color: #242529;
    font-size: 44px;
    padding-bottom: 5px;
    &:hover {
        color: #141414;
        border: none;
        transition: all 0.5s;
    }
}

.cta4 {
    background: #242529;
    border: 1px solid #f4f8f9;
    z-index: 10;
    border-radius: 29px;
    height: 48px;
    padding: 5px 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 191px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &:hover {
        color: white;
        background: #141414;
        border: none;
        transition: all 0.5s;
    }
}

.delete-button {
    color: #93959d;
    background-color: transparent;
    z-index: 10;
    height: 48px;
    padding: 5px 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &:hover {
        color: #dc817c;
        background: transparent;
        border: none;
        transition: all 0.5s;
    }
}

.cta-device {
    background: transparent;
    border: 1px solid #242529;
    z-index: 10;
    border-radius: 29px;
    height: 32px;
    padding: 7px 12px;
    color: #242529;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 101px;
    .cta-device-withdraw {
        padding: 7px 18px;
    }
}

.cta-device-withdraw {
    background: transparent;
    border: 1px solid #242529;
    z-index: 10;
    border-radius: 29px;
    height: 32px;
    padding: 6px 20px;
    color: #242529;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 101px;
}

.ant-btn {
    border-radius: 20px;
    width: 90px;
    background: #3a3d42;
    color: white;
    border: #3a3d42;
    &:hover {
        background: #141414;
        border: #141414;
        color: white;
    }
}