button {
    color: #242529;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 10px 10px;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 32px;
    height: 52px;
    width: 120px;
    background-color: #F4F8F9;  

    // &:hover {
    //     background-color: #242529;
    // }

    // &:disabled {
    //     background-color: #242529;  

    //     &:hover {
    //         background-color: #242529;
    //     }
    // }
}

.cta {
    background: #242529;
    border: 1px solid #F4F8F9;
    z-index: 10;
    border-radius: 29px;
    height: 52px;
    width: 120px;
    padding: 10px 10px;

    > span {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
}