.device-page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 25px 0px 110px 40px;
    width: 100%;
    flex-flow: column;
}

.new-device-page-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    width: 100%;
    bottom: 0;
    padding: 25px 50px 25px 50px;
    z-index: 1;
    position: relative;
}

.cta-running {
    background-color: #59ad9e;
    border: 1px solid #59ad9e;
    z-index: 10;
    border-radius: 20px;
    padding: 5px 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 161px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: #349482;
        color: white;
        border: 1px solid #349482;
        transition: all 0.5s;
    }
}

.cta-paused {
    background-color: #dc817c;
    border: 1px solid #dc817c;
    z-index: 10;
    border-radius: 20px;
    padding: 5px 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 161px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: #be5d58;
        color: white;
        border: 1px solid #be5d58;
        transition: all 0.5s;
    }
}

.rounded-input {
    border-radius: 10px;
    height: 40px;
    width: 100%;
}

.ant-form-item-control {
    border-radius: 10px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-rounded {
    width: 188px;
}

.ant-select-dropdown {
    border-radius: 10px;
}

.ant-form-item-control-input-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    border-radius: 10px;
    height: 45px;
}

.ant-select-arrow {
    color: #242529;
}

.ant-row {
    flex-flow: unset;
}

.ant-switch {
    width: 55px;
    background-color: #dc817c;
    &:hover {
        background-color: rgb(170, 170, 170);
    }
    &.ant-switch-checked {
        background-color: #59ad9e;
    }
}

.ant-form-item-children-icon {
    display: none;
}