.fnew-device-page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 25px 40px 110px 40px;
    width: 100%;
    flex-flow: column;
    height: 100%;
}

.fnew-device-page-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    width: 100%;
    bottom: 0;
    padding: 25px 50px 25px 50px;
    z-index: 1;
}

.cta-running {
    background-color: #59ad9e;
    border: 1px solid #59ad9e;
    z-index: 10;
    border-radius: 20px;
    padding: 5px 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 161px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: #349482;
        color: white;
        border: 1px solid #349482;
        transition: all 0.5s;
    }
}

.cta-paused {
    background-color: #dc817c;
    border: 1px solid #dc817c;
    z-index: 10;
    border-radius: 20px;
    padding: 5px 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 161px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: #be5d58;
        color: white;
        border: 1px solid #be5d58;
        transition: all 0.5s;
    }
}

.ant-form-item-control {
    border-radius: 10px;
}