.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7%;
    z-index: 100;
    position: fixed;
    top: 0;
    width: calc(100% - 320px);
}

.header-wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 40px 50px 40px 50px;
    z-index: 100;
    width: 100%;
}

.ant-space-item {
    h5 {
        margin-bottom: 0;
    }
}