.ant-modal-header {
    background: #DC817C;
    height: 56px;
    border-radius: 8px 8px 0px 0px;
}

.ant-modal-content {
    border-radius: 8px;
}

.ant-modal-close {
    width: 15px;
}

.ant-modal-footer {
    border-top: 0;
    padding: 0 24px 24px 24px;
}

.warning-icon {
    color: #4D2A28;
    fill: #4D2A28;
    font-size: 22px;
    padding-right: 10px;
}

.ant-modal-close {
    display: none;
}

.ant-btn-lg1 {
    width: 120px;
    height: 42px;
    font-weight: 500;
    background: white;
    border: 1px solid #A0A4B5;
    box-sizing: border-box;
    border-radius: 10px;
    &:hover {
        background: white;
        border: 1px solid #4285f4;
        color: #4285f4;
        transition: all 0.5s;
    }
}

.warning-text {
    color: #4D2A28;
    fill: #4D2A28;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.modal-footer-hidden-button {
    display: none;
}

.ok-button-props {
    display: none;
}