td {
    border-style: none;
    background-color: white;
    margin: 20px 0px 20px 0;
    cursor: pointer;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.ant-table-thead>tr>th {
    background-color: transparent;
}

.ant-table table {
    background-color: #f4f8f9;
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.ant-table-column-sorters span {
    font-weight: 500;
}

.ant-input-search {
    border-radius: 10px;
    height: 40px;
}

.ant-pagination-prev {
    height: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ant-pagination-next {
    height: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ant-pagination-jump-next {
    height: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ant-pagination-item {
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.ant-pagination-item a {
    font-size: 15px;
}

.ant-table-cell {
    .table-item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        .primary-row {
            color: #242529;
            margin-bottom: 10px;
        }
        .secondary-row {
            color: #878992;
        }
    }
}

button.ant-table-row-expand-icon:hover {
    background-color: #ffffff;
}