.bold {
    font-weight: 700;
}

.small {
    font-size: 12px;
    line-height: 16px;
}

a {
    outline: none !important;
    font-weight: 400;
    color: #242529;  
    font-size: 20px;
    line-height: 20px;
  
    &:hover {
      text-decoration: none;
    }
}

h1 {
    font-weight: 800;
    color: #242529;  
    font-size: 20px;
    line-height: 20px;

    @include breakPoint(small) {
        @include font-size(24px);
    }
}
  
h2 {
    color: #242529;  
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;

    @include breakPoint(small) {
        @include font-size(28px);
    }
}

h3 {
    font-weight: bold;
    color: #242529;  
    font-size: 20px;
    line-height: 20px;

    @include breakPoint(small) {
        @include font-size(24px);
    }
}
  
h4 {
    color: #242529;  
    font-size: 20px;
    line-height: 20px;

    @include breakPoint(small) {
        @include font-size(15px);
    }
}
  
h5 {
    color: #242529;  
    font-size: 20px;
    line-height: 20px;

    @include breakPoint(small) {
        @include font-size(14px);
    }
}
  
p, li {
    font-weight: 400;
    color: #242529;  
    font-size: 20px;
    line-height: 20px;

    @include breakPoint(small) {
        @include font-size(24px);
    }
}
